
body {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 3rem;
  padding: 2rem 0;
}

#gameboard {
  border: rgba(73, 114, 20, 0.52) 2px solid;
  width: 90vw;
  max-width: 440px;
  height: 90vw;
  max-height: 440px;
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-field {
  border: peru 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}