
body {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

svg {
  height: 100%;
  width: auto;
  stroke: currentColor;
}

.is-hidden {
  visibility: hidden;
  position: absolute;
}

.btn {
  padding: .5rem 1rem;
  margin: .5rem 0;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 3rem;
  padding: 2rem 0;
}

#game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 440px;
}

#player-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.player-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-on {
  width: 90vw;
  max-width: 440px;
  display: flex;
  justify-content: space-between;
}

.player-info {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.icon {
  font-size: 2rem;
  color: rgb(207, 0, 0);
  font-weight: 600;
}

.mouse-icon {
  height: 1.25rem;
  color: red;
}

#game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameboard {
  border: rgba(73, 114, 20, 0.52) 2px solid;
  width: 90vw;
  max-width: 440px;
  height: 90vw;
  max-height: 440px;
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-field {
  border: peru 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}